header{
	color: red;
	height: 150px;
	border:  2px solid red;
	text-align:  center;
	line-height: 150px;

}
section{
	color: red;
	height: 150px;
	border:  2px solid red;
	text-align:  center;
	line-height:  150px;

}
footer{
	color: red;
	height: 150px;
	border:  2px solid red;
	line-height: 150px;
	text-align:  center;

}
body{
	border: 2px solid red;
	padding: 2px;

}
img{
	height: 150px;
}